# IDE configurations
.idea/
.vscode/

# OS metadata files
.DS_Store
Thumbs.db

# Python cache
__pycache__/

# Pytest cache
.pytest_cache/

# Target distributions
/dist/

# Program output
/logs/
/models/

# Use these directories for experimental testing and saving
/dev/
/temp/
