# Gradle output and cache
/.gradle/
/build/
/modules/*/build/

# VS Code specific
/.vscode/

# IntelliJ specific
/.idea/
*.iml

# OS cache files
.DS_Store
Thumbs.db

# Use this directory for local testing
/dev/
/modules/*/dev/

# Program output and logs
/gen/
/modules/*/gen/
